:root {
  /* colors */
  --white: rgb(238, 238, 238);
  --white-sec: rgb(157, 157, 157);
  --aqua-lighter: #40C5E3;
  --aqua-light: #3BB9D6;
  --aqua-norm: #35A4BD;
  --aqua-dark: #2A8396;
  --aqua-darker: #184B57;
  --orange-norm: #D6853C;
  --orange-dark: #8A470B;
  --red-dark: #A3351D;
}

.App {
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
  font-family: monospace;
  background-color: var(--white);
}

.Navbar {
  background-color: var(--aqua-norm);
  min-height: 6rem;
  height: 10%;
  max-height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Navbar h1 {
  font-size: 15pt;
  float: left;
  font-family: Geneva;
}

.Navbar input {
  height: 2rem;
  width: 30vw;
  min-width: 5vw;
  margin-right: .5rem;
}

.Navbar .Btn-Container {
  display: flex;
  width: 10rem;
  justify-content: space-around;
}

.Navbar button {
  height: 2.5rem;
  width: 2.5rem;
}
.Navbar button:hover {
  cursor: pointer;
}

.Home {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .Centering-Container {
  min-width: 25rem;
  width: 70vw;
  background-color: ;
}

.Stories {
  background-color: var(--aqua-norm);
  display: flex;
  align-items: center;
  height: 6.5rem;
  overflow-x: auto;
  border-radius: 17%;
}

.Stories button {
  height: 4rem;
  min-width: 4rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.Stories button:hover {
  cursor: pointer;
}

.Posts {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Posts .Posts-Container {
  height: 45rem;
  /* bc color needed */
}

.Posts-Container .Header-Container {
  height: 3rem;
  /* bc color needed */
  display: flex;
  align-items: center;
}

.Header-Container img {
  height: 35px;
  width: 35px;
  margin: 1rem;
}

.Header-Container h3 {
  letter-spacing: .05rem;
}

.Posts-Container #content {
  height: 100%;
  width: 100%;
  max-height: 500px;
}

.Function-Buttons {
  display: flex;
  justify-content: baseline;
}

.Function-Buttons button {
  height: 2rem;
  width: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  border-radius: 40%;
}

/* !  COMMENT GLOBAL ELEMENTS */
.Comments .gHandle {
  padding-left: 1rem;
  padding-right: .5rem;
  font-weight: 555;
}

.Comments .gCmt {
  font-style: italic;
  letter-spacing: .02rem;
}

.Comments .Likes-Num-Container {
  display: flex;
  padding-left: 1rem;
  height: 2rem;
}

.Likes-Num-Container .likes {
  margin-left: .3rem;
}

.Creator-Cmt-Container {
  height: 2rem;
  /* bc color needed */
  display: flex;
  align-items: center;
  font-size: 103%;
}

.Cmt-Section {
  height: 4.5rem;
  /* bc color needed */
  overflow: hidden;
  position: relative;
}

.Cmt-Section .Comments {
  color: #000;
  float: left;
  margin-left: 1rem;
  font-size: small;
}

.Cmt-Section .Cmt-Container {
  display: flex;
  float: left;
  font-size: smaller;
}