:root {
  /* colors */
  --bg-white: rgb(223, 223, 223); 
  --bg-blue: rgb(188, 235, 219);
}

.App {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: monospace;
  background-color: var(--bg-white);
}

.Navbar {
  background-color: var(--bg-blue);
  min-height: 6rem;
  height: 10%;
  max-height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Navbar h1 {
  font-size: 15pt;
  float: left;
  font-family: Geneva;
}

.Navbar input {
  height: 2rem;
  width: 30vw;
  min-width: 5vw;
  margin-right: .5rem;
}

.Navbar .Btn-Container {
  display: flex;
  width: 10rem;
  justify-content: space-around;
}

.Navbar button {
  height: 2.5rem;
  width: 2.5rem;
}
.Navbar button:hover {
  cursor: pointer;
}

.Stories {
  display: flex;
  justify-content: space-around;
  width: auto;
  align-items: center;
  height: 5rem;
  overflow: scroll;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Stories button {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}
.Stories button:hover {
  cursor: pointer;
}

